<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jinja_assignment</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">


</head>

<body>
  <div class="container text-center" id="content" style="background-color: #7232a1">

    <h1 style="font-size: 100px; color: white; ">Sample Page</h1>



    <h3 style="color: white;">Today is : {{day}}<sup>rd</sup> {{month}} {{year}} </h3>
    <h3 style="color: white;">Time : {{time}} </h3>

    <br />

    <!-- <img src="https://picsum.photos/400" alt="network error"> -->
    <!-- <img src="/JINJA_ASSIGNMENT/download.jpg" height="250px" width="300px" alt="abcd"> -->
    <img src="{{url_for('static', filename='car.jpg')}}" height="250px" width="300px" />

    <br />
    <br>

    <a href="/" style="color: white; text-decoration: none;"> Click on this link to get random images</a>
    <br />
    <br />
    <br>

  </div>
  <button id="btn-print" class="download-btn" onclick="generatePDF()">Download</button>
  <script src="{{url_for('static',filename='script.js')}}"></script>
  <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous">
  </script>

</body>

</html>